@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border-radius: 3px;
}

#container {
  position: absolute;
  top: 20%;
  right: 20%;
  border-radius: 9px;
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: auto;
  transition: all 0.4s ease-in-out;
  max-height: 800px;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  color: #333333;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button.show {
  opacity: 1;
}

.button:hover {
  background-color: #D8D8D8;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #333333;
  color: #ffffff;
}

#search-bar {
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: #f2f2f2;
  width: 100%;
}

#search-input {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 100%;
  font-size: 14px;
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

#search-button {
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

#container.menu-open #search-bar {
  display: flex;
}

#no-results {
  display: none;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  background: #333333;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
}

.title > div.column > div.header {
  text-decoration: underline;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

div > .text {
  font-size: 0.9rem;
}

div > .header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 500;
}